<div class="nav-container">
    <nav class="nav-bar flex justify-between align-center"> 
      <span><img src="assets/img/logo.png" class="img-logo" alt="logo" width="40px" height="50px"></span>
      
      <span><img src="assets/img/burguer.png" class="" alt="burguer" width="15px" height="15px"></span>
    </nav>

    <div class="flex-column justify-center align-center profile">
      <div class="user-logo"><img src="assets/img/person.png" width="30px" height="30px" alt="person"></div>
      <span>Hola, Rafael</span>
    </div>

      <ul class="tabs">
        <li>Mis datos</li>
        <li>Reclamos</li>
        <li>Pagos</li>
      </ul>
</div>