<div class="app-fit">
    <h2>Mis coberturas</h2>

    <div *ngIf="success" class="result-message">
      <ul>
        <li> <p>Mensaje: {{message}}</p></li>
        <li> <p>Product Name: {{returnData.productName}}</p></li>
        <li> <p>Developer Name: {{returnData.developerName}}</p></li>
      </ul>
       
    </div>

    <div class="coverage-card" (click)="saveProduct()">
      <p>Para tu mejor amigo</p> <span class="point"></span>
    </div>

    <div class="coverage-card" (click)="saveProduct()">
      <p>Por si te enfermas</p> <span class="point-red"></span>
    </div>

    <div class="coverage-card" (click)="saveProduct()">
      <p>Para tu bici</p> <span class="point"></span>
    </div>

    <h2>Descubre</h2>

    <div class="discover">
      <div class="discover-card">
        <p class="">Por lo que conductor</p>

        <span class="show-more">Ver más</span>
      </div>

      <div class="discover-card">
        <p>Por lo que conductor</p>
        <span class="show-more">Ver más</span>
      </div>
    </div>
</div>